doctype html
html
    head
        title rrggbb

        link(rel="shortcut icon" href='/favicon.png' type='image/png')
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="HandheldFriendly", content="True")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')

        link(rel='stylesheet', href='/css/base.css')

    body
        #app !{content}

    script(src='/js/base.js')

